body{
    font-family: Itim;
	 background-color: #EEDADA;
}.bg-gray{
    background-color: #FFF8ED;
}.width-auto{
    width: auto;
}.width-50{
    width: 50%;
}.width-75{
    width: 75%;
}.width-100{
    width: 100%;
}.margin-auto{
    margin: auto;
}.font-size-75{
	font-size: 75px;
}.font-size-50{
	font-size: 50px;
}.font-size-40{
	font-size: 40px;
}.font-size-25{
	font-size: 25px;
}.nav-center{
    width: 400px;
    margin: auto;
}


